{% extends "Base.html" %}

{% block main %}

    <body>
            <h1>Session Table</h1>
                <table>
                    <tr>
                        <th>username</th>
                        <th>address</th>
                        <th>email</th>
                        <th>Filament</th>
                        <th>size</th>
                        <th>filename</th>
                    </tr>
                    {% for session in sessions %}
                        <tr>
                            <td>{{ session[1] }}</td>
                            <td>{{ session[2] }}</td>
                            <td>{{ session[3] }}</td>
                            <td>{{ session[4] }}</td>
                            <td>{{ session[5] }}</td>
                            <td>{{ session[6] }}</td>
                            <td>
                               <form class="myform" method="post">
                                   <input type="hidden" name="session_id" value="{{ session[0] }}">
                                   <input type="submit" value= "Delete">
                            </td>
                        </tr>
                    {% endfor %}
                </table>
    </body>


{% endblock %}
