<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
        <link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet">
    </head>


    <body>
        <nav>
            <div>
                <p></p>
            </div>
            <br>
            <div class="navbar-links">
                {% if logged_in == True %}
                    <a href="/Session" class="button">Sessions</a>
                    <a href="/Settings" class="button">Settings</a>
                    <a href="/Session_view" class="button">Session View</a>
                {% endif %}

                {% if logged_in == False %}
                    <a href="/Login" class="button">Login</a>
                    <a href="/Signin" class="button">Sign in</a>
                {% endif %}

                <a href="/" class="button">Home</a>

                {% if admin == True %}
                    <a href="/Admin" class="button">Admin</a>
                {% endif %}
            </div>



                {% if logged_in == True %}
                    <div class="profile-container" >
                        <div> {{ user }} </div>
                        <div> {{ email }} </div>
                        <br>
                        <a href="/logout" class="button">logout</a>
                    </div>
                {% endif %}

        </nav>

        <main class="content-container">
            {% block main %}
            {% endblock %}
        </main>


    </body>
</html>