{% extends "Base.html" %}

{% block main %}

    <body>
        <form  ="myform" method="post">
            <div class="sessionbox">
                <div class="form-label"> Name </div>
                <div class="form-element"> <input type="text" name="username" value="{{ user }}" required></div>

                <div class="form-label"> Email </div>
                <div class="form-element"> <input type="email" name="Email" value="{{ email }}" required ></div>

                <div class="form-label"> Address </div>
                <div class="form-element"> <input type="text" name="address" value="{{ address }}" required></div>

                <input type="submit" value= "Submit">

                {{ error }}
    </body>


{% endblock %}