{% extends "Base.html" %}

{% block main %}
    <body>
        <form class="myform" method="post">
            <div class="sessionbox">
                <div class="form-label"> Enter Name </div>
                <div class="form-element"> <input type="text" name="Name" required ></div>

                <div class="form-label"> Enter Address </div>
                <div class="form-element"> <input type="text" name="Address" required ></div>

                <div class="form-label"> Enter Email </div>
                <div class="form-element"> <input type="text" name="Email" required ></div>

                <div class="form-label"> Enter Password </div>
                <div class="form-element"> <input type="text" name="Password" required ></div>

                <div class="form-label"> Re enter Password </div>
                <div class="form-element"> <input type="text" name="Re_Password" required ></div>

                <input type="submit" value="Submit">
    </body>
{% endblock %}
